.navbar {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 60px;
  padding: 5px;
}
.logo-container {
  margin: 5px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
  padding: 10px 20px;
}
.nav-items > ul > li {
  margin: 5px;
}

.filter {
  margin: 10px;
}

.restro-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
}

.restro-card:hover {
  border: 1px solid black;
  cursor: pointer;
}
.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
}
